body {
    margin: 0;
    background-color: rgb(252, 252, 252);
}

/* background layer */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url("https://i.ibb.co/RTxFtPCX/Bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;

    width: 90%;        /* flexible width */
    max-width: 350px;  /* prevents it from getting too big */

    background-color: hsla(0, 0%, 2%, 0.67);
    padding: 1.5em;
    border-radius: 8px;

    box-shadow: 0 0 5px 5px #ffffff1f;
}

.container h3 {
    font-size: 22pt;
    color: #fff;
    margin-bottom: 20px;
}

.container a {
    display: inline-block;
    text-decoration: none;
    color: rgb(43, 43, 43);
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 18px 18px;

}
